.button {
    background: $blue;
    color: white;
    border: none;
    display: inline-block;
    text-decoration: none;
    padding: $s-size;
    font-weight: 300;
    line-height: 1;
    font-size: $font-size;
}

.button--link {
    background: none;
}

.button--secondary {
    @extend .button;
    background-color: #888888;
}